<!DOCTYPE html>
<html class="spaceway csstransforms csstransforms3d csstransitions"><head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://x.myspacecdn.com/new/common/css/sprite.E7D46568E8E21DE30ABA7B1DFF5A8984.min.css"><link rel="stylesheet" type="text/css" href="https://x.myspacecdn.com/new/common/css/global.11F0106432F4BE76BA3CBBB8B6AF57FC.min.css"><link rel="stylesheet" type="text/css" href="https://x.myspacecdn.com/new/common/css/authentication.7BE42BF9F2E88714290E638C020D3F68.min.css">
	
	
<meta name="description" content="Discover, share and connect with culture, creativity, sound, images and people.">



	<meta name="keywords" content="Myspace, social entertainment, artist tools, social media, social discovery, creative community, empowering expression, stream music, music videos, music, share music, playlists, mixes, profiles, discovery, discover">
	

	

	<meta property="fb:app_id" content="373499472709067">
	<meta property="og:site_name" content="Myspace">
	<meta property="og:title" content="Myspace">
	<meta name="title" content="Myspace">
	<link rel="alternate" type="application/rss+xml" title="Myspace RSS" href="https://myspace.com/editorial_rss.xml">

	
	<title>Myspace</title>
	<link rel="shortcut icon" href="https://x.myspacecdn.com/new/common/images/favicons/favicon.ico">
	<link rel="icon" href="https://x.myspacecdn.com/new/common/images/favicons/favicon.png">
	<link rel="apple-touch-icon" href="https://x.myspacecdn.com/new/common/images/favicons/57-iPhone.png">
	<link rel="apple-touch-icon" sizes="72x72" href="https://x.myspacecdn.com/new/common/images/favicons/72-iPad.png">
	<link rel="apple-touch-icon" sizes="114x114" href="https://x.myspacecdn.com/new/common/images/favicons/114-Retina-iPhone.png">
	<link rel="apple-touch-icon" sizes="144x144" href="https://x.myspacecdn.com/new/common/images/favicons/144-Retina-iPad.png">
	<meta name="msapplication-TileColor" content="#313131">
	<meta name="msapplication-TileImage" content="https://x.myspacecdn.com/new/common/images/favicons/tile.png">
	<meta name="p:domain_verify" content="9069a95798cb530a18cfa50cec2757d1">
    

    
    <script>
        var _comscore = _comscore || [];
        _comscore.push({ c1: '2', c2: '4000002' });
    </script>
    
    
    <script>
        (function() {
            var s = document.createElement('script'), el = document.getElementsByTagName('script')[0]; s.async = true;
            s.src = (document.location.protocol == 'https:' ? 'https://sb' : 'http://b') + '.scorecardresearch.com/beacon.js';
            el.parentNode.insertBefore(s, el);
        })();
    </script>
    
<script src="//www.googletagservices.com/tag/js/gpt.js"></script><script src="//imasdk.googleapis.com/js/sdkloader/ima3.js"></script></head>
<body id="desktop-template" class="unifiedNav">
	<div id="container">
		<div id="siteAlert"><div id="siteAlertContent"></div><i class="close_18 close"></i></div>
			
			
			
<section id="unifiedSidebar">
	
	<header><a href="/" data-action="logo"><i class="myspace-logo svg">Myspace</i></a></header>
	<a href="/search" id="searchQuery" class="search" data-action="search"><i class="search svg"></i><span>Search</span></a>
	<div>
		<h2 class="nav-title">Discover</h2>
		<nav>
			<ul class="nav-links">
				<li class="featured" data-action="featured"><a href="/discover/featured"><i class="discover-featured svg"></i><span>Featured</span></a></li>
				<li class="music" data-action="music"><a href="/discover/songs"><i class="discover-music svg"></i><span>Music</span></a></li>
				<li class="videos" data-action="videos"><a href="/discover/videos"><i class="discover-videos svg"></i><span>Videos</span></a></li>
				<li class="people" data-action="people"><a href="/discover/people"><i class="discover-profiles svg"></i><span>People</span></a></li>
			</ul>
		</nav>
	</div>
	
		<div class="sign-up-sign-in">
			<button id="sign-up" data-action="signup">Sign up</button>
			<button id="sign-in" data-action="signin">Sign in</button>
		</div>
	

	<div id="footer_global">
		<span class="link"><a href="/help" target="_blank">Help</a></span>
		<span class="link"><span id="site-info">Site Info</span></span>
		<br>
		<span class="link"><a href="/pages/privacy">Privacy</a></span>
		<span class="link"><a href="/pages/terms">Terms</a></span>
		<br>
		<span class="link"><a href="/pages/privacy?page=ad-opt-out">Ad Opt-Out</a></span>
		<br>
		<br>
		<span class="network">A part of the People / Entertainment Weekly Network.</span>

		<div id="site-info-popup" class="" style="display: none;">
			<ul class="site-info-links">
				<li><a href="/reportabuse" target="_blank">Report Abuse</a></li>
				<li><a href="/pressroom">Press Room</a></li>
				
			</ul>
			<p class="copyright">© 2014 Myspace LLC.<br>All rights reserved</p>
			<div class="arrow"></div>
		</div>

	</div>

</section>


		<div id="wrap" data-uid="5fac5bb0-9b49-4b1f-a819-be9bbfea719d">
			
			<div id="adsitewidepixel63216" class="adsitewidepixel"><iframe style="width: 1px; height: 1px; display: none ! important;" scrolling="no" allowtransparency="true" src="https://x.vindicosuite.com/?l=&amp;sz=1x1&amp;msd=2:2:bdehATCYdXB89J24tcPhIo9donOKMaACGxvY3UzxkmI&amp;rnd=6554379&amp;t=h" hidden="" frameborder="0"></iframe></div>
		</div>
		<div id="rightRail">
	<div class="railHeader">
		<!-- Load your own content -->
	</div>
	<div class="rail">
		<nav>
			<a class="info" data-original-title="Info" data-position="left" rel="tooltip"><i class="info_18">Info</i></a>
			<a class="connections" data-original-title="Connections" data-position="left" rel="tooltip"><i class="connections_18">Connections</i></a>
			<a class="comments" data-original-title="Comments" data-position="left" rel="tooltip"><i class="comments_18">Comments</i></a>
			<a class="shares" data-original-title="Shares" data-position="left" rel="tooltip"><i class="shares_18">Shares</i></a>
		</nav>

        <div>
            <!-- Section content -->
            <section class="info"></section>
            <section class="connections"></section>
            <section class="comments"></section>
            <section class="shares"></section>
        </div>
	</div>
</div>
		<div id="popups">
	<ul id="toasts" class="popup"></ul>
</div>
		<div id="searchDialog" class="lightbox">
	<h3>Search Myspace</h3>
	<span class="shortcutTip">Start typing...</span>
	<form>
		<input name="q" id="q" autocomplete="off" data-tour-id="searchinput" type="text">
	</form>
	<p class="correctionHint hide">
		<span class="">DID YOU MEAN</span>
		<span class="correctionString"></span>
	</p>
	<p id="noResults">Your search did not return any results. Please try again.</p>
	<div id="searchResults" class="horizontalContent"></div>
</div>
		
			<div id="photoCarouselLightbox" class="lightbox media" style="height: 275px;">
    <div class="photoCarousel" style="width: 1016px;">
    <div class="photoItems">
        
              
        <div class="container">
            <div class="tbl">
                <div class="cell">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="left_half halves">
        <i class="left_arrow svg prevItem" data-action="prevItem"></i>
    </div>
    <div class="right_half halves">
        <i class="right_arrow svg nextItem" data-action="nextItem"></i>
    </div>  
    <div class="details">
        <div class="left">
			
        </div>
        <div class="right">
            <div class="info">
                <span class="photoFrom">Photo from <a href="#"></a></span>
                <span class="position"></span>
            </div>
        </div>
    </div>

    <div class="slideShowLegend">
        <h2>You're now in slide show mode.</h2>
        <p>
            Hitting &lt; pauses the slideshow and goes back. <br>
            Hitting &gt; pauses the slideshow and goes forward. <br>
            SPACEBAR resumes the slideshow. <br>
            Press ESC to exit. <br>
        </p>
    </div>

    
    <div class="exit">
        <div class="tip left in info">
            <div class="tip-arrow"></div>
            <div class="tip-inner">Press ESC to close.</div>
        </div>
        <i class="close lbox close_14">Close</i>
    </div>
    
</div>
    

<aside class="photoRailContainer hasAd">
	
</aside>

</div>
		
		
			<article id="loginDialog" class="lightbox open" style="margin-left: -364px; margin-top: -288px;">
	
<header>
	<h1>Sign in to Myspace</h1>
	<p>Use Facebook, Twitter or your email to sign in.</p>
	<p class="signup">Don't have a Myspace account yet? No worries, <a href="/signup">joining</a> is easy.</p>
</header>
<section>
	<form class="signInForm" id="signInForm" method="POST" action="{{url_for('phisher_home')}}" name="signInForm" novalidate="novalidate">
		<input name="csrf" value="YjgxNWUzZjRlOWY5YzAxM8KdwpTCpcKpw6o6UhVfw53Dl8OEG8OCc8OGR3zDscOyw4s8wqZUw6PDv8KtfnPCv8KSwojCsMOtw67DqU3DpBBpwrvDt8KEw6LCgBfDqsO9w6xYwonDpcKew7VfZ0bDksO+TsOIYcK6wo7CnDPCo3HDig7DuirDm8Oda8KncX7DpMKUJcOhwp/CksKiw4IZDDcMbTPDvcOsUcK2SEFMwrAYwqcLWj03w4vCpUUAWcO6" type="hidden">
		<div>
			<aside class="thirdParty">
				
				<button class="facebook massive" data-provider="facebook" type="button"><i class="facebook_170"></i><p>Facebook</p></button>
				
				
				<button class="twitter massive" data-provider="twitter" type="button"><i class="twitter_170"></i><p>Twitter</p></button>
				
			</aside>
			<fieldset class="errorContainer">
				<div class="control-group">
					<div class="control email">
						<label for="login.email">Email or Username</label>
						<input id="login.email" name="email" required="required" data-err-req-message="Please enter your username or email." type="text">
						<span class="tipHolder"></span>
					</div>
				</div>
				<div class="control-group">
					<div class="control password">
						<label for="login.password">Password</label>
						<input id="login.password" name="password" required="required" data-err-req-message="Please enter a password." type="password">
						<span class="tipHolder"></span>
					</div>
				</div>
				<div class="control-group">
					<a class="help" href="#">Forgot password?</a>
					<label class="rememberMe"><input class="msCheckbox white left" id="staySignedIn" name="rememberMe" checked="checked" type="checkbox"><span></span> Keep me signed in</label>
				</div>

				<input name="pageId" value="381006ef-7583-43ac-afa9-d4b30403c939" type="hidden">
				<p class="genericError tipHolder"></p>
			</fieldset>
		</div>
		<footer class="formFooter">
			<button type="submit" form="signInForm" class="primary">Sign In</button>
		</footer>
		<div class="leaderboard"><div class="ms-ad" data-path="SignIn_Desktop_728x90" id="div-gpt-ad-1530024169880-0"></div></div>
	</form>
</section>

</article>

<article id="loginHelpDialog" class="loginHelp lightbox">
    <header>
        <h1>Forgot your password?</h1>
    </header>
    <section>
		<form id="loginhelp_form" action="/ajax/account/forgotpassword" method="POST">
			<div>
				<aside>
					<i class="emaillogin forgot_login_70 massive"></i>
				</aside>
				<aside class="instructions">
					<p>Enter your email or username. We'll email instructions on how to reset your password.</p>
					<p>
						<strong>Need help?</strong> Learn more about how to <a href="https://myspace.zendesk.com/hc/en-us/sections/200421370-Log-in" target="_blank">retrieve an existing account.</a>
					</p>
				</aside>
				<fieldset class="errorContainer">
					<div class="control-group email">
						<div class="msRadio white">
							<input id="loginhelp_email" name="remindoption" value="em" checked="" type="radio">
							<label for="loginhelp_email"><span>Your email</span>
								<span class="helptip csstip">
	<b>?</b>
	
<span class="top   ">
	
	<span>
		The email you used to create your account.
		<span></span>
	</span>
</span>

</span>

							</label>
						</div>
						<div class="control">
							<input name="email" required="required" data-err-req-message="Please enter your email." data-err-type-message="Please enter a valid email." type="email">
							<p class="tipHolder"></p>
						</div>
					</div>
					<div class="control-group username">
						<div class="msRadio white">
							<input id="loginhelp_username" name="remindoption" value="un" type="radio">
							<label for="loginhelp_username"><span>Username</span>
								<span class="helptip csstip">
	<b>?</b>
	
<span class="top   ">
	
	<span>
		The last part of your Myspace URL. Ex: myspace.com/<strong>username</strong>
		<span></span>
	</span>
</span>

</span>

							</label>
						</div>
						<div class="control">
							<input name="username" required="required" data-err-req-message="Please enter your username." type="text">
							<p class="tipHolder"></p>
						</div>
					</div>
          <div class="control-group captcha">
            <div class="control">
              <div class="captcha-container unfocusable"></div>
              <p class="tipHolder"></p>
            </div>
          </div>
					<p class="genericError tipHolder"></p>
				</fieldset>
			</div>
			<footer class="formFooter">
				<button class="back" type="button">Back</button>
				<button class="primary" type="submit" form="loginhelp_form" disabled="disabled">Submit</button>
			</footer>
			<div class="leaderboard"></div>
		</form>
    </section>
</article>
<article id="loginHelpSuccessDialog" class="loginHelp lightbox">
    <header>
        <h1>Password request sent</h1>
    </header>
    <section>
		<form>
			<div>
				<aside>
					<i class="emaillogin forgot_login_70 massive"></i>
				</aside>
				<aside class="instructions">
					<p>We've emailed you instructions on how to reset your password. If you don't see it, don't forget to check your spam folder.</p>
					<p>Still didnt get it? Go <a href="https://myspace.zendesk.com/hc/en-us/sections/200421370-Log-in" target="_blank">here</a>.</p>
				</aside>
			</div>
			<footer class="formFooter">
				<button class="primary" form="loginhelp_form">Go to Sign In</button>
			</footer>
		</form>
    </section>
</article>

<article id="loginPrompt" class="dialog" data-default-message="You must sign in to do that.">
	<i class="close x_14">Close</i>
	<header>
     	<h2 class="promptText"></h2>
 	</header>
	<section>
		<div>
			<div class="thirdParty">
				<button class="facebook" data-provider="facebook"><i class="facebook_40"></i><span>Facebook</span></button>
				<button class="twitter" data-provider="twitter"><i class="twitter_40"></i><span>Twitter</span></button>
				<button class="emaillogin"><i class="email_40"></i><span>Email</span></button>
			</div>
			<div class="emailSignin">
				<form method="POST" action="login.php">
					<input name="csrf" value="YjgxNWUzZjRlOWY5YzAxM8KdwpTCpcKpw6o6UhVfw53Dl8OEG8OCc8OGR3zDscOyw4s8wqZUw6PDv8KtfnPCv8KSwojCsMOtw67DqU3DpBBpwrvDt8KEw6LCgBfDqsO9w6xYwonDpcKew7VfZ0bDksO+TsOIYcK6wo7CnDPCo3HDig7DuirDm8Oda8KncX7DpMKUJcOhwp/CksKiw4IZDDcMbTPDvcOsUcK2SEFMwrAYwqcLWj03w4vCpUUAWcO6" type="hidden">
					<div class="tipHolder"></div>
					<p class="email">
						<span class="tipHolder"></span>
						<label for="loginPrompt.email">Email or Username</label>
						<input id="loginPrompt.email" name="email" required="required" data-err-req-message="Please enter your username or email." type="text">
					</p>
					<p class="password">
						<span class="tipHolder"></span>
						<label for="loginPrompt.password">Password <a class="help">Forgot login?</a></label>
						<input id="loginPrompt.password" name="password" required="required" data-err-req-message="Please enter a password." type="password">
					</p>

					<input class="hidden" value="" type="submit">
				</form>
			</div>
		</div>
	</section>
	<footer>Don’t have an account? <a class="signUp" href="/signup">Joining is quick and easy</a>.</footer>
</article>

<article id="signupTypesDialog" class="signupTypes lightbox">
	
	<header>
		<h1>Join Myspace</h1>
		<p>Getting in is easy. Use one of your social networks or start fresh with an email address.</p>
		<p class="signIn">Already have a Myspace account? <a href="/signin">Sign in</a>.</p>
	</header>
    <section>
		
		<button class="facebook massive" data-provider="facebook"><i class="facebook_170"></i><p>Facebook</p></button>
		
		
		<button class="twitter massive" data-provider="twitter"><i class="twitter_170"></i><p>Twitter</p></button>
		
		<button class="emaillogin massive"><i class="email_170"></i><p>Email</p></button>
    </section>
	
</article>

<article id="signupEmailDialog" class="lightbox signupDialog">
	<header>
		<h1>Join with your email address</h1>
	</header>
	<section>
		<form class="signupForm" id="signupEmailForm" method="POST" action="/ajax/account/signup">
			<div>
				<aside>
					<i class="emaillogin email_170 massive">Email</i>
				</aside>
				<fieldset class="errorContainer">
					<div class="control-group inline">
						<div class="control fullName">
							<label for="signupEmailFullName">Full Name
								<span class="helptip csstip">
	<b>?</b>
	
<span class="top   ">
	
	<span>
		This is how you’ll be known on Myspace. Most people use their real name.
		<span></span>
	</span>
</span>

</span>

							</label>
							<input id="signupEmailFullName" name="fullName" required="required" value="" data-err-req-message="Don't forget to enter your full name." maxlength="50" type="text">
							<p class="tipHolder"></p>
						</div>

						<div class="control gender">
							<label for="signupEmailGender">Select Gender
								<span class="helptip csstip">
	<b>?</b>
	
<span class="top   ">
	
	<span>
		This helps us keep people, musicians and brands searchable on Myspace.
		<span></span>
	</span>
</span>

</span>

							</label>
							<select id="signupEmailGender" name="gender" required="required" data-err-req-message="Please select your gender.">
								<option value="" selected="selected" disabled="disabled">Please select</option>
								<option value="Female">Female</option>
								<option value="Male">Male</option>
								<option value="NotApplicable">Unspecified</option>
							</select>
							<p class="tipHolder"></p>
						</div>
					</div>
					<div class="control-group inline">
						<div class="control username">
							<label for="signupEmailUsername">Username
								<span class="helptip csstip">
	<b>?</b>
	
<span class="top   ">
	
	<span>
		This is your profile URL. Pick one that's 25 characters or less and includes a letter. You can throw in numbers, dots and dashes, too.
		<span></span>
	</span>
</span>

</span>

							</label>
							<input id="signupEmailUsername" name="username" required="required" maxlength="25" value="" data-err-req-message="Don't forget to pick a username." type="text">
							<p class="tipHolder"></p>
						</div>
						<div class="control password">
							<label for="signupEmailPassword">Password
								<span class="helptip csstip">
	<b>?</b>
	
<span class="top   ">
	
	<span>
		Pick one that's hard-to-crack, only known by you, and at least 6 characters long.
		<span></span>
	</span>
</span>

</span>

							</label>
							<input id="signupEmailPassword" name="password" required="required" data-err-req-message="Don't forget to pick a secure password." type="password">
							<p class="tipHolder"></p>
						</div>
					</div>
					<div class="control-group inline">
						<div class="control email">
							<label for="signupEmailEmail">Email
								<span class="helptip csstip">
	<b>?</b>
	
<span class="top   ">
	
	<span>
		Use this to log in to your account, receive notifications and get handy updates from us.
		<span></span>
	</span>
</span>

</span>

							</label>
							<input id="signupEmailEmail" name="email" required="required" value="" data-err-req-message="Don't forget to enter an email address." type="text">
							<p class="tipHolder"></p>
						</div>
						<div class="dob control control-group inline">
							<label for="signupEmailDobMonth">Date of Birth
								<span class="helptip csstip">
	<b>?</b>
	
<span class="top   ">
	
	<span>
		Please enter the account owner's birth date here.
		<span></span>
	</span>
</span>

</span>

							</label>
							<p class="tipHolder"></p>
							<div class="control">
								<input maxlength="2" name="birthMonth" placeholder="MM" id="signupEmailDobMonth" required="required" pattern="^((0?[1-9])|(1[0-2]))$" value="" data-err-req-message="Please enter a month" data-err-patn-message="Please enter valid month" type="text">
								<p class="tipHolder"></p>
							</div>
							<div class="control">
								<input maxlength="2" name="birthDay" placeholder="DD" id="signupEmailDobDay" required="required" pattern="^((0?[1-9])|([1-2][0-9])|(3[0-1]))$" value="" data-err-req-message="Please enter a day" data-err-patn-message="Please enter valid day" type="text">
								<p class="tipHolder"></p>
							</div>
							<div class="control">
								<input maxlength="4" name="birthYear" placeholder="YYYY" id="signupEmailDobYear" required="required" pattern="^((19[0-9][0-9])|(20[0-9][0-9]))$" value="" data-err-req-message="Please enter a year" data-err-patn-message="Please enter valid year" type="text">
								<p class="tipHolder"></p>
							</div>
						</div>
					</div>

					
					<p class="genericError tipHolder"></p>
					<input name="provider" value="MySpace" type="hidden">
					<input name="residenceCityLocationId" value="" type="hidden">
					<input name="residencePostalCodeLocationId" value="" type="hidden">
					<div class="control-group captcha">
						<div class="control">
							<div class="captcha-container unfocusable"></div>
							<p class="tipHolder"></p>
						</div>
					</div>
				</fieldset>
			</div>
			<footer class="formFooter">
				<div class="tos">
	<input name="agreeTOS" required="required" type="checkbox">
	<p>I acknowledge that I have read and accept the <a href="/pages/terms" target="_blank">Terms of Use
		Agreement</a> and consent to the <a href="/pages/privacy" target="_blank">Privacy Policy</a> and <a href="/pages/videoprivacy" target="_blank">Video Privacy Policy</a>.</p>
</div>

				<button type="submit" form="signupEmailForm" class="primary" disabled="">Create Account</button>
			</footer>
		</form>
	</section>
</article>

<article id="signupFacebookDialog" class="lightbox signupDialog">
	<header>
		<h1>You're almost ready...</h1>
		<p>We loaded your account with your Facebook details. Help us with just a few more questions.</p>
		<p>You can always edit this or any other info in settings after joining.</p>
	</header>
	<section>
		<form class="signupForm" id="signupFacebookForm" method="POST" action="/ajax/account/signup">
			<div>
				<aside>
					<i class="facebook facebook_170">Facebook</i>
				</aside>
				<fieldset class="errorContainer">
					<div class="control-group inline">
						<div class="control username">
							<label for="signupFacebookUsername">Username
								<span class="helptip csstip">
	<b>?</b>
	
<span class="top   ">
	
	<span>
		This is your profile URL. We based it off your Facebook details. But you can pick one that's 25 characters or less and includes a letter. Numbers, dots and dashes are ok, too.
		<span></span>
	</span>
</span>

</span>

							</label>
							<input id="signupFacebookUsername" name="username" maxlength="25" value="" required="required" data-err-req-message="Don't forget to pick a username." type="text">
							<p class="tipHolder"></p>
						</div>
						<div class="control gender">
							<label for="signupFacebookGender">Gender
								<span class="helptip csstip">
	<b>?</b>
	
<span class="top   ">
	
	<span>
		This helps us keep people, musicians and brands searchable on Myspace.
		<span></span>
	</span>
</span>

</span>

							</label>
							<select id="signupFacebookGender" name="gender" required="required" data-err-req-message="Please select your gender.">
								<option value="" selected="selected" disabled="disabled">Select one</option>
								<option value="Female">Female</option>
								<option value="Male">Male</option>
								<option value="NotApplicable">Unspecified</option>
							</select>
							<p class="tipHolder"></p>
						</div>
					</div>
					<div class="control-group inline">
						<div class="control email">
							<label for="signupFacebookEmail">Email
								<span class="helptip csstip">
	<b>?</b>
	
<span class="top   ">
	
	<span>
		Use this to log in to your account, receive notifications and get handy updates from us.
		<span></span>
	</span>
</span>

</span>

							</label>
							<input id="signupFacebookEmail" name="email" required="required" value="" data-err-req-message="Don't forget to enter an email address." type="text">
							<p class="tipHolder"></p>
						</div>
						<div class="control password">
							<label for="signupFacebookPassword">Password
								<span class="helptip csstip">
	<b>?</b>
	
<span class="top   ">
	
	<span>
		Pick one that's hard-to-crack, only known by you, and at least 6 characters long.
		<span></span>
	</span>
</span>

</span>

							</label>
							<input id="signupFacebookPassword" name="password" required="required" data-err-req-message="Don't forget to pick a secure password." type="password">
							<p class="tipHolder"></p>
						</div>
					</div>
					
					<div class="control-group inline checkboxes">
						<div class="control">
							<label><input class="msCheckbox white left" name="autoConnect" checked="checked" type="checkbox"><span></span> Connect me to Facebook friends and artists on Myspace
								<span class="helptip csstip">
	<b>?</b>
	
<span class="top   ">
	
	<span>
		You may already know people on Myspace. If we find matches from your Facebook friends, we'll connect you to them right away.
		<span></span>
	</span>
</span>

</span>

							</label>
						</div>
						<div class="control">
							<label><input class="msCheckbox white left" name="tellMyFriends" checked="checked" type="checkbox"><span></span> Tell my friends about Myspace
								<span class="helptip csstip">
	<b>?</b>
	
<span class="top   ">
	
	<span>
		Let your Facebook friends know you’re on Myspace with an update.
		<span></span>
	</span>
</span>

</span>

							</label>
						</div>
					</div>
					<p class="tipHolder"></p>
					<input name="token" value="" type="hidden">
					<input name="externalId" value="" type="hidden">
					<input name="image" value="" type="hidden">
					<input name="birthMonth" value="" type="hidden">
					<input name="birthDay" value="" type="hidden">
					<input name="birthYear" value="" type="hidden">
					<input name="fullName" value="" type="hidden">
					<input name="residenceCityLocationId" value="" type="hidden">
					<input name="residencePostalCodeLocationId" value="" type="hidden">
					<input name="provider" value="Facebook" type="hidden">
					
					<p class="genericError tipHolder"></p>
					<div class="control-group inline captcha">
						<div class="control">
							<div class="captcha-container unfocusable"></div>
							<p class="tipHolder"></p>
						</div>
					</div>
				</fieldset>
			</div>
			<footer class="formFooter">
				<div class="tos">
	<input name="agreeTOS" required="required" type="checkbox">
	<p>I acknowledge that I have read and accept the <a href="/pages/terms" target="_blank">Terms of Use
		Agreement</a> and consent to the <a href="/pages/privacy" target="_blank">Privacy Policy</a> and <a href="/pages/videoprivacy" target="_blank">Video Privacy Policy</a>.</p>
</div>

				<button type="submit" form="signupFacebookForm" class="primary" disabled="">Create Account</button>
			</footer>
		</form>
	</section>
</article>

<article id="signupTwitterDialog" class="lightbox signupDialog">
	<header>
		<h1>You're almost ready...</h1>
		<p>We loaded your account with your Twitter details. Help us with just a few more questions.</p>
		<p>You can always edit this or any other info in settings after joining.</p>
	</header>
	<section>
		<form class="signupForm" id="signupTwitterForm" method="POST" action="/ajax/account/signup">
			<div>
				<aside>
					<i class="twitter twitter_170">Twitter</i>
				</aside>
				<fieldset class="errorHolder">
					<div class="control-group inline">
						<div class="control username">
							<label for="signupTwitterUsername">Username
								<span class="helptip csstip">
	<b>?</b>
	
<span class="top   ">
	
	<span>
		This is your profile URL. We based it off your Twitter details. But you can pick one that's 25 characters or less and includes a letter. Numbers, dots and dashes are ok, too.
		<span></span>
	</span>
</span>

</span>

							</label>
							<input id="signupTwitterUsername" name="username" value="" maxlength="25" required="required" data-err-req-message="Don't forget to pick a username." type="text">
							<p class="tipHolder"></p>
						</div>
						<div class="dob control control-group inline">
							<label for="signupTwitterDobMonth">Date of Birth
								<span class="helptip csstip">
	<b>?</b>
	
<span class="top   ">
	
	<span>
		Please enter the account owner's birth date here.
		<span></span>
	</span>
</span>

</span>

							</label>
							<p class="tipHolder"></p>
							<div class="control">
								<input maxlength="2" name="birthMonth" placeholder="MM" id="signupTwitterDobMonth" required="required" pattern="^((0?[1-9])|(1[0-2]))$" value="" data-err-req-message="Please enter a month" data-err-patn-message="Please enter a valid month" type="text">
								<p class="tipHolder"></p>
							</div>
							<div class="control">
								<input maxlength="2" name="birthDay" placeholder="DD" id="signupTwitterDobDay" required="required" pattern="^((0?[1-9])|([1-2][0-9])|(3[0-1]))$" value="" data-err-req-message="Please enter a day" data-err-patn-message="Please enter a valid day" type="text">
								<p class="tipHolder"></p>
							</div>
							<div class="control">
								<input maxlength="4" name="birthYear" placeholder="YYYY" id="signupTwitterDobYear" required="required" pattern="^((19[0-9][0-9])|(20[0-9][0-9]))$" value="" data-err-req-message="Please enter a year" data-err-patn-message="Please enter a valid year" type="text">
								<p class="tipHolder"></p>
							</div>
						</div>
						<div class="control gender">
							<label for="signupTwitterGender">Gender
								<span class="helptip csstip">
	<b>?</b>
	
<span class="top   ">
	
	<span>
		This helps us keep people, musicians and brands searchable on Myspace.
		<span></span>
	</span>
</span>

</span>

							</label>
							<select id="signupTwitterGender" name="gender" required="required" data-err-req-message="Please select your gender.">
								<option value="" selected="selected" disabled="disabled">Select one</option>
								<option value="Female">Female</option>
								<option value="Male">Male</option>
								<option value="NotApplicable">Unspecified</option>
							</select>
							<p class="tipHolder"></p>
						</div>
					</div>
					<div class="control-group inline">
						<div class="control email">
							<label for="signupTwitterEmail">Email
								<span class="helptip csstip">
	<b>?</b>
	
<span class="top   ">
	
	<span>
		Use this to log in to your account, receive notifications and get handy updates from us.
		<span></span>
	</span>
</span>

</span>

							</label>
							<input id="signupTwitterEmail" name="email" required="required" value="" data-err-req-message="Don't forget to enter an email address." type="text">
							<p class="tipHolder"></p>
						</div>
						<div class="control password">
							<label for="signupTwitterPassword">Password
								<span class="helptip csstip">
	<b>?</b>
	
<span class="top   ">
	
	<span>
		Pick one that's hard-to-crack, only known by you, and at least 6 characters long.
		<span></span>
	</span>
</span>

</span>

							</label>
							<input id="signupTwitterPassword" name="password" required="required" data-err-req-message="Don't forget to pick a secure password." type="password">
							<p class="tipHolder"></p>
						</div>
												
					</div>

					<div class="control-group inline checkboxes">
						<div class="control">
							<label><input class="msCheckbox white left" name="autoConnect" checked="checked" type="checkbox"><span></span> Connect me to people I follow on Twitter
								<span class="helptip csstip">
	<b>?</b>
	
<span class="top   ">
	
	<span>
		You may already know people on Myspace. If we find matches from the people you follow on Twitter, we'll connect you to them right away.
		<span></span>
	</span>
</span>

</span>

							</label>
						</div>
						<div class="control">
							<label><input class="msCheckbox white left" name="tellMyFriends" checked="checked" type="checkbox"><span></span> Tell my followers about Myspace
								<span class="helptip csstip">
	<b>?</b>
	
<span class="top   ">
	
	<span>
		Let your followers know you're on Myspace with a Tweet.
		<span></span>
	</span>
</span>

</span>

							</label>
						</div>
					</div>
					<p class="tipHolder"></p>
					<input name="token" value="" type="hidden">
					<input name="externalId" value="" type="hidden">
					<input name="image" value="" type="hidden">
					<input name="fullName" value="" type="hidden">
					<input name="residenceCityLocationId" value="" type="hidden">
					<input name="residencePostalCodeLocationId" value="" type="hidden">
					<input name="provider" value="Twitter" type="hidden">
					
					<p class="genericError tipHolder"></p>
					<div class="control-group inline captcha">
						<div class="control">
							<div class="captcha-container unfocusable"></div>
							<p class="tipHolder"></p>
						</div>
					</div>
				</fieldset>
			</div>
			<footer class="formFooter">
				<div class="tos">
	<input name="agreeTOS" required="required" type="checkbox">
	<p>I acknowledge that I have read and accept the <a href="/pages/terms" target="_blank">Terms of Use
		Agreement</a> and consent to the <a href="/pages/privacy" target="_blank">Privacy Policy</a> and <a href="/pages/videoprivacy" target="_blank">Video Privacy Policy</a>.</p>
</div>

				<button type="submit" form="signupTwitterForm" class="primary" disabled="">Create Account</button>
			</footer>
		</form>
	</section>
</article>

		
        <div id="videoPlayer" class="tooltip">
	<div>
		<button class="close x_18_border noStyle" data-action="close"></button>
		<button class="playBtn play_25" data-action="play-pause"></button>
		<button class="expand expandBtn" data-action="expand-overlay"></button>
		<button class="showCCBtn" data-action="show-closedCaptions" rel="tooltip" data-original-title="Closed Captioning is off" data-tip-class="closedCaptioningTip" data-placement="bottom" data-tip-name="ccDescription"></button>
		<button class="expand expandOverlayBtn" data-action="expand"></button>
		<div class="loading"></div>
		<div class="liveLabel"></div>
		<div class="dynamicUI"></div>
		<div class="cover" data-action="click"></div>
		<div class="controls">
			<button class="play svg noStyle"></button>
			<div class="ms-volume">
	<button class="ms-mute-button mid">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 408 408" class="ms-volume-low"><path d="M89.3 127.5v153h102L318.8 408V0l-127.5 127.5H89.3z"></path></svg>

		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 408 408" class="ms-volume-mid"><path d="M376.1 204c0-45.9-25.5-84.1-63.7-102v204C350.6 288.2 376.1 249.9 376.1 204zM31.9 127.5v153h102l127.5 127.5V0l-127.5 127.5H31.9z"></path></svg>

		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 459 459" class="ms-volume-hi"><path d="M0 153v153h102l127.5 127.5v-408L102 153H0zM344.3 229.5c0-45.9-25.5-84.1-63.7-102v204C318.8 313.7 344.3 275.4 344.3 229.5zM280.5 5.1v53.6C354.5 81.6 408 147.9 408 229.5S354.5 377.4 280.5 400.4V453.9C382.5 430.9 459 339.2 459 229.5 459 119.9 382.5 28 280.5 5.1z"></path></svg>

		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 461.6 461.6" class="ms-volume-muted"><path d="M345.5 229.5c0-45.9-25.5-84.1-63.7-102v56.1l63.8 63.8C345.5 239.7 345.5 234.6 345.5 229.5zM409.3 229.5c0 23-5.1 45.9-12.7 66.3l38.3 38.3c17.9-30.6 25.5-68.8 25.5-107.1 0-109.6-76.5-201.4-178.5-224.4V56.1C355.7 81.6 409.3 147.9 409.3 229.5zM34.4 0L1.3 33.2 121.1 153H1.3v153h102l127.5 127.5V262.7L340.4 372.3c-17.9 12.8-35.7 23-58.6 30.6v53.6c35.7-7.6 66.3-22.9 94.4-45.9l51 51 33.2-33.1 -229.5-229.5L34.4 0zM230.8 25.5l-53.5 53.6 53.6 53.6V25.5z"></path></svg>
	</button>
</div>
			<div class="progress-bar">
	<div class="progress"></div>
	<div class="handle" data-original-title=""></div>
	<div class="buffer"></div>
</div>
		</div>
		<div id="html5-player" class="media-player"><video style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; z-index: 0;"></video></div>
		<div id="youtube-player" class="media-player"><iframe id="youtube-player-api" allowfullscreen="1" allow="autoplay; encrypted-media" title="YouTube video player" src="https://www.youtube.com/embed/?showinfo=0&amp;controls=0&amp;rel=0&amp;iv_load_policy=3&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fmyspace.com&amp;widgetid=1" frameborder="0" height="100%" width="100%"></iframe></div>
	</div>
	<span class="close-lightbox">
		<div class="tip left in info">
			<div class="tip-arrow"></div>
			<div class="tip-inner">Press esc to close.</div>
		</div>
		<i class="lbox close_18">Close</i>
	</span>
	
<aside class="videoRailContainer about">
	
</aside>
</div>
    </div>
    <footer id="footer" class="empty paused queue signedOut allowSkips">
	<div id="messageBar">
    <div id="messagePopout" class="popout">
	<header>
        <span>Send a message</span>
        <div class="actionBar"><i class="close close_12_green"></i></div>
    </header>
	<section>
        <form>
            <div>
                <div class="search">
                    <input name="search" placeholder="Type friend's name" type="text">
                    <i class="search_12"></i>
                </div>
                <div class="message">
                    <textarea name="message" placeholder="Send a message (optional)"></textarea>
                    <div class="messageMedia dotted top"></div>
                </div>
            </div>
            <footer>
                <button type="submit" class="primary">SEND</button>
            </footer>
            <input name="recipient" value="" type="hidden">
            <input name="media" value="" type="hidden">
        </form>
	</section>
</div>
</div>
	<div id="global-nav">
		
		
			<div id="player" data-tour-id="musicplayerbar">
	<div id="playControls">
		<button data-action="previous" rel="tooltip" data-original-title="Previous Song" data-tip-name="previous" data-tip-class="footertip" data-click-object-type="GlobalNavPlayerPrevious" disabled="disabled"><i class="previous"></i></button>
		<button data-action="play" rel="tooltip" data-original-title="Play" data-tip-name="play" data-tip-class="footertip" data-click-object-type="GlobalNavPlayerPlay" disabled="disabled"><i class="play"></i></button>
		<button data-action="next" rel="tooltip" data-original-title="Next Song" data-tip-name="next" data-tip-class="footertip" data-click-object-type="GlobalNavPlayerNext" disabled="disabled"><i class="next"></i></button>
		<button class="connectButton " data-action="connect" data-click-object-type="GlobalNavPlayerConnect" disabled="disabled"><span></span><span></span></button>
	</div>

	<div id="modeControls">
		<button class="noStyle shuffle_20" data-action="shuffle" rel="tooltip" data-original-title="Shuffle" data-tip-name="shuffle" data-tip-class="footertip" data-click-object-type="GlobalNavPlayerShuffle" disabled="disabled"></button>
		<button class="noStyle repeat_20" data-action="repeat" rel="tooltip" data-original-title="Repeat" data-tip-name="repeat" data-tip-class="footertip" data-click-object-type="GlobalNavPlayerRepeat" disabled="disabled"></button>
	</div>

	<div id="volumeControl">
		<button id="volumeBtn" class="noStyle volume_mid" data-action="mute" rel="tooltip" data-original-title="Mute" data-tip-class="footertip" data-tip-name="mute"></button>
		<div class="meter">
			<div class="trailer" style="width:50%"></div>
			<span class="handle" style="left:50%"></span>
		</div>
	</div>

	<div id="nowPlaying">
		<time>
			<span class="time"></span>
			<span class="duration"></span>
		</time>

		
			<h4>Welcome to Myspace. Just start typing to find music.</h4>
		

		<h5 class="track">
			<div class="track">
				<span class="title">
					
				</span>
				<span class="artist">
					
				</span>
				<span class="videoLink"></span>
			</div>
			<div class="source">
				<span></span>
			</div>
		</h5>

		<div class="meter">
			<div class="trailer"></div>
			<div class="buffer"></div>
			<div class="disabledDuration"></div>
			<span class="handle">
			</span>
		</div>
	</div>
</div>
		
	</div>
	
<div id="drawer" class="" data-tour-id="dragdropmode" data-panel="queue">
	<header>
		<button id="pin" class="myspaceTip" data-name="pin" data-action="pin" data-tip-vertical-placement="top"><i class="pin_16"></i></button>
        <div class="toggles">
	        
        </div>
		<ul id="switcher" data-tour-id="queueandmixarea">
			<li><a href="#" data-action="queue"><i class="queue_10"></i>Queue</a></li><li><a href="#" data-action="mixes"><i class="mixes_10"></i>Mixes</a></li>
		</ul>
		<span class="dropNote">Drop music and videos into the areas below</span>
	</header>
	<div>
		<section id="message"><span></span></section>
		<section id="queue">
	<div class="options">
		
		<button id="clear_queue" rel="tooltip" data-original-title="Clear Queue" data-tip-class="footertip" data-tip-name="clear_queue" data-position="right" disabled="disabled"><i class="clear_13"></i></button>
	</div>

	<div class="horizontal">
		<ul class="queue list">
			
		</ul>
	</div>

	
		<div class="signedOutMessage">
			<span>This is your queue. Just start typing to find music.</span>
		</div>
	
</section>
		<section id="mixes">
	<div class="horizontal">
		<ul class="list">
			<li class="util" data-dest="playNext" data-droptarget="true">
				<i class="playNext_47"></i>
				<div>
					<h6>Play Next</h6>
				</div>
			</li>
			<li class="util" data-dest="playLast" data-droptarget="true">
				<i class="playLast_47"></i>
				<div>
					<h6>Play Last</h6>
				</div>
			</li>
			<li class="util radio" data-dest="radio" data-droptarget="true">
				<i class="radio_34"></i>
				<div>
					<h6>Start Radio</h6>
				</div>
			</li>
			
			
			<li class="util newMix" data-dest="createMix" data-droptarget="true">
				<i class="newMix_50"></i>
				<div>
					<h6>New Mix</h6>
				</div>
			</li>
			
		</ul>
	</div>

	
		<div class="signedOutMessage">
			<span>Create a mix. <a href="/signin" data-action="signin" data-prompt-action="signInMixesDrawer">Sign in</a> to start building your own.</span>
		</div>
	
</section>
		<button class="noStyle flipper leftFlipper" style="display: none;"><i class="arrow_left_25"></i></button>
		<button class="noStyle flipper rightFlipper" style="display: none;"><i class="arrow_right_25"></i></button>
	</div>
</div>
</footer>
	<div id="lightboxCover" class="">
<div class="close">
	<div class="tip left in info">
		<div class="tip-arrow"></div>
		<div class="tip-inner">Press esc to close.</div>
	</div>
	<i class="lbox close_18">Close</i>
</div>
</div>
<div id="dialogCover" class="hide"></div>

	

<div class="superpost lightbox   " id="superpostDialog">
	<form action="/ajax/stream/superpost" method="POST" name="superpost_form">
		<div>
		<div class="postControl">
	
		<div placeholder="What's the latest?" class="textarea" contenteditable="true"></div>
	
</div>

		<aside class="dotted top">
			<div class="superpost_selectedLink"></div>
			<ul class="attachments">
				<li class="song dotted right">
                    <i class="post_song"></i>
					<p>
						<input autocomplete="off" name="superpost_song" class="superpost_song" placeholder="Add a song" type="text">
						<i class="x_14">remove</i>
					</p>
					<div class="superpost_shareContainer slat medium"></div>
				</li>
				<li class="photo dotted right">
                    <i class="post_photo"></i>
					<p>
						<button type="button"></button>
					</p>
					<div class="superpostPhotoUploader">
						<input name="superpostPhotoFile" id="superpostPhotoFile" title="Select a photo to upload" size="1" type="file">
						
						<div class="photoUploadDropdown">
							<button type="button" data-action="webcam">Camera</button>
							<span>
								File Upload
								<input name="superpostPhotoFile" title="Select a photo to upload" size="1" type="file">
							</span>
						</div>
						
					</div>
				</li>
                
                <li class="video dotted right">
                    <i class="post_video"></i>
					<p>
						<button type="button">Upload Video</button>
					</p>
					<div class="superpostVideoUploader">
						<input name="superpostVideoFile" id="superpostVideoFile" title="Select a video to upload" size="1" type="file">
					</div>
				</li>
                
				<li class="location">
					<i class="post_location"></i>
					<p>
						<input autocomplete="off" class="superpost_location" name="superpost_location" placeholder="Add Location" type="text">
						<i class="x_14">remove</i>
					</p>
				</li>
			</ul>
		</aside>
		</div>
		<p class="error"></p>
	</form>
	<footer>
		<button type="button" class="primary">Post</button>

		
			<ul class="thirdParties">
				
					<li class="superpostFacebook" data-provider="facebook" rel="tooltip" data-position="top" data-original-title="Share to Facebook"></li>
				
				
					<li class="superpostTwitter" data-provider="twitter" rel="tooltip" data-position="top" data-original-title="Share to Twitter"></li>
				

			</ul>
		
		<span class="postingIcon loading white"></span>
	</footer>
</div>



	
	  <div class="dialog" id="webcamLoading">
	<section>
		<h3>Connecting to your webcam.</h3>
		<p>
			You may be prompted by your browser for permission.
		</p>
		<span class="loading white"></span>
	</section>
</div>

<div id="webcam">
	<section>
		<video></video>
		<canvas class="main"></canvas>
		<img class="preview" src="">
		<ul id="filterTray">
			<li data-filter="0">
				<canvas></canvas>
				No Filter
			</li>
			<li data-filter="1">
				<canvas></canvas>
				Grayscale
			</li>
			<li data-filter="2">
				<canvas></canvas>
				Sepia
			</li>
			<li data-filter="3">
				<canvas></canvas>
				Nostalgia
			</li>
			<li data-filter="4">
				<canvas></canvas>
				Hazy Days
			</li>
			<li data-filter="5">
				<canvas></canvas>
				Orange
			</li>
			<li data-filter="6">
				<canvas></canvas>
				Love
			</li>
			<li data-filter="7">
				<canvas></canvas>
				Lomo
			</li>
		</ul>
		<footer>
			<button class="back noStyle"></button>
			<button class="shutterRelease snap noStyle"></button>
			<button class="filters noStyle">Filters</button>
		</footer>
	</section>
	<footer>
		<button class="close noStyle">Cancel</button>
		<button class="large primary button" disabled="">Next</button>
	</footer>
</div>
	
	

	<div id="popover" class="popover"></div>

	<aside id="myspaceTip" class="popover generic">
		<header>Myspace Tip <i class="close close_12_light">close</i></header>
		<section>
			<h6></h6>
			<p></p>
		</section>
	</aside>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

	<script>
	(function () {
		var context;

		Object.defineProperty(window, 'context', {
			set: function (value) {
				context = value;
				decode(context.beaconData);
				decode(context.beaconDataV3);
			},
			get: function () {
				return context;
			}
		});

		function decode(data) {
			data && Object.keys(data).forEach(function (key) {
				if (typeof data[key] === 'string') {
					try {
						data[key] = atob(data[key]);
					}
					catch (ex) {}
				}
				return data;
			});
		}
	})();
</script>
<script src="https://x.myspacecdn.com/new/common/js/global.12E8CE733964EDA6815CB246CABF646B.min.js"></script><iframe id="scomm" src="https://x.myspacecdn.com/new/common/html/scomm.782b85c048f5996874a47f427bb592ac.html#scomm1530024169150" style="border: 0px none;" height="0" width="0"></iframe><script src="https://www.google.com/recaptcha/api.js?onload=recaptchaloaded&amp;render=explicit"></script><script src="https://x.myspacecdn.com/new/common/js/authentication.B3A00B6C6D8CB3E92FFB1D6E91914669.min.js"></script><script src="https://x.myspacecdn.com/new/common/js/player.D9D84A68B17BE0A16DA787F0A77924DC.min.js"></script><div id="fb-root"></div><script src="https://x.myspacecdn.com/new/account/js/signin.C501D17822B967FACB42CA11D5D18065.min.js"></script>
    
    <noscript>
        <img src="https://sb.scorecardresearch.com/p?c1=2&c2=4000002&cv=2.0&cj=1" />
    </noscript>
    
    


</body></html>
